figs/aze_devppl_plot-eps-converted-to.pdf
figs/aze_hs_probs_plot-eps-converted-to.pdf
figs/aze_uni_probs_plot-eps-converted-to.pdf
figs/bel_devppl_plot-eps-converted-to.pdf
figs/bel_hs_probs_plot-eps-converted-to.pdf
figs/bel_uni_probs_plot-eps-converted-to.pdf
figs/glg_devppl_plot-eps-converted-to.pdf
figs/glg_hs_probs_plot-eps-converted-to.pdf
figs/glg_uni_probs_plot-eps-converted-to.pdf
figs/slk_devppl_plot-eps-converted-to.pdf
figs/slk_hs_probs_plot-eps-converted-to.pdf
figs/slk_uni_probs_plot-eps-converted-to.pdf
main.aux
main.bbl
main.blg
main.brf
main.log
main.out
main.pdf
*.swp
